
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header" panel-main-header (sidebarToggle)="sidebarFunc($event);"></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" panel-main-side></aside>

  <!-- Content Wrapper. Contains page content -->
  <router-outlet></router-outlet>
  <ng-container *ngIf="loadingRouteConfig">
    <div class="box" *ngIf="loadingRouteConfig">
      <div class="overlay main_loader">
          <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </ng-container>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer" panel-footer></footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" [class.control-sidebar-open]="controlBarDisp" panel-control-sidebar></aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <!-- <div class="control-sidebar-bg"></div> -->
</div>
<!-- ./wrapper -->


