<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{loggedData.profile_image}}" class="img-circle" style="width: 50px;height:50px;" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{loggedData.full_name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <!--
      var menu = [
        {"title":"Dashboard", "icon":"fa-dashboard", "link":"", "children":[{"title":"Dashboard", "link":"dashboard1"}]}
      ]
      -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a routerLink="/panel/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>