<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Patent</b>elligence</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign up to create new user</p>
     <div class="alert alert-danger alert-dismissible" *ngIf="message != ''">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      {{message}} 
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!full_name.valid && full_name.dirty), 'has-success': (full_name.valid && full_name.dirty)}">
        <input type="text" [formControl]="full_name" class="form-control" placeholder="Full Name *">
        <span *ngIf="form.controls['full_name'].dirty && form.controls['full_name'].hasError('required')" class="help-block">Full name is required.</span>
        <span *ngIf="form.controls['full_name'].dirty && form.controls['full_name'].hasError('minlength')" class="help-block">Minimum 4 length is required.</span>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!email.valid && email.dirty), 'has-success': (email.valid && email.dirty)}">
        <input type="text" [formControl]="email" class="form-control" placeholder="Email *">
        <span *ngIf="form.controls['email'].dirty && form.controls['email'].hasError('required')" class="help-block">Email is required.</span>
        <span *ngIf="form.controls['email'].dirty && form.controls['email'].hasError('pattern')" class="help-block">Enter valid email address.</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!password.valid && password.dirty), 'has-success': (password.valid && password.dirty)}">
        <input type="password" [formControl]="password" class="form-control" placeholder="Password *">
        <span *ngIf="form.controls['password'].dirty && form.controls['password'].hasError('required')" class="help-block">Password is required.</span>
        <span *ngIf="form.controls['password'].dirty && form.controls['password'].hasError('minlength')" class="help-block">Minimum 8 length is required.</span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-error': (!verify_password.valid && verify_password.dirty), 'has-success': (verify_password.valid && verify_password.dirty)}">
        <input type="password" [formControl]="verify_password" class="form-control" placeholder="Confirm password *">
        <span *ngIf="form.controls['verify_password'].dirty && form.controls['verify_password'].hasError('required')" class="help-block">Confirm Password is required.</span>
        <span *ngIf="form.controls['verify_password'].dirty && form.controls['verify_password'].hasError('notEquivalent')" class="help-block">Password mismatch.</span>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
	  
	  <div class="form-group has-feedback" [ngClass]="{'has-error': (!user_type.valid && user_type.dirty), 'has-success': (user_type.valid && user_type.dirty)}">
		<select [formControl]="user_type" name="user_type" id="user_type" class="form-control">
			<option value="0">Inventor</option>
			<option value="1">Agent</option>
		</select>
      </div>

      <div class="row">
        <div class="col-xs-8">
          &nbsp;
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>