<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Patent</b>elligence</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body overlay-wrapper">
  <!--   -->
	<div class="overlay" *ngIf="loading">
		<i class="fa fa-refresh fa-spin"></i>
	</div>
    <p class="login-box-msg">Sign in to start your session</p>
     <div class="alert alert-danger alert-dismissible" *ngIf="message != ''">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      {{message}} 
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!email.valid && email.dirty), 'has-success': (email.valid && email.dirty)}">
        <input type="text" [formControl]="email" class="form-control" placeholder="Email">
        <span *ngIf="form.controls['email'].dirty && form.controls['email'].hasError('required')" class="help-block">Email is required.</span>
        <span *ngIf="form.controls['email'].dirty && form.controls['email'].hasError('pattern')" class="help-block">Enter valid email address.</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!password.valid && password.dirty), 'has-success': (password.valid && password.dirty)}">
        <input type="password" [formControl]="password" class="form-control" placeholder="Password">
        <span *ngIf="form.controls['password'].dirty && form.controls['password'].hasError('required')" class="help-block">Password is required.</span>
        <span *ngIf="form.controls['password'].dirty && form.controls['password'].hasError('minlength')" class="help-block">Minimum 8 length is required.</span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="rememberMe" [formControl]="rememberMe" value="1"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>

      <div class="text-center">
        <p>- OR -</p>
        <button type="submit" routerLink="/register" class="btn btn-primary btn-block btn-flat">Register</button>
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
