/* You can add global styles to this file, and also import other style files */
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color:#3c8dbc !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: #FFF !important;
}

